body {
    font-family: 'Special Elite', cursive;
}

.jumbotron {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    padding-top: 0px;
}

.taco {
    height: 150px;
}

.btn {
    background-color: #457B9D;
    color: white;
}

#devour-btn {
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 10px;
}

#devoured {
    text-align: center;
}

.list-group {
    align-items: center;
}

.row {
    justify-content: space-around;
    margin-bottom: 30px;
}

.list-group-item {
    border: none;
    padding: 0px;
    text-align: center;
    font-size: 20px;
}

.display-4 {
    font-size: 44px;
}
